# Ipmort Libraries

In [9]:
import pandas as pd
import numpy as np
import seaborn as sbs
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder,StandardScaler,MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression,LinearRegression
from sklearn .tree import DecisionTreeClassifier,DecisionTreeRegressor
from sklearn.metrics import accuracy_score,mean_squared_error,r2_score

In [6]:
pip install pandas

Requirement already satisfied: pandas in c:\users\user\appdata\local\programs\python\python313\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\user\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.2.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\user\appdata\roaming\python\python313\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\user\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\user\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.1)
Requirement already satisfied: six>=1.5 in c:\users\user\appdata\roaming\python\python313\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

# Uploading dataset

In [15]:
df=pd.read_csv('Car Price as.csv')

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2111 entries, 0 to 2110
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID                2109 non-null   object
 1   Price             2110 non-null   float64
 2   Levy              2110 non-null   object
 3   Manufacturer      2107 non-null   object
 4   Model             2108 non-null   object
 5   Prod. year        2106 non-null   object
 6   Category          2106 non-null   object
 7   Leather interior  2109 non-null   object
 8   Fuel type         2106 non-null   object
 9   Engine volume     2110 non-null   object
 10  Mileage           2108 non-null   object
 11  Cylinders         2111 non-null   object
 12  Gear box type     2111 non-null   object
 13  Drive wheels      2111 non-null   object
 14  Doors             2108 non-null   object
 15  Wheel             2108 non-null   object
 16  Color             2111 non-null   object
 17  Airbags           56 non-null     float64
dtypes: float64(2), object(16)
memory usage: 297.0+ KB

In [16]:
df.head()

,ID,Price,Levy,Manufacturer,Model,Prod. year,Category,Leather interior,Fuel type,Engine volume,Mileage,Cylinders,Gear box type,Drive wheels,Doors,Wheel,Color,Airbags
0,45654403,13328.0,1399,LEXUS,RX 450,2010,Jeep,Yes,Hybrid,3.5,186005 km,6,Automatic,4x4,4-May,Left wheel,Silver,12.0
1,44731507,16621.0,1018,CHEVROLET,Equinox,2011,Jeep,No,Petrol,3,192000 km,6,Tiptronic,4x4,4-May,Left wheel,Black,8.0
2,45774419,8467.0,-,HONDA,FIT,2006,Hatchback,No,Petrol,1.3,200000 km,4,Variator,Front,4-May,Right-hand drive,Black,2.0
3,45769185,3607.0,862,FORD,Escape,2011,Jeep,Yes,Hybrid,2.5,168966 km,4,Automatic,4x4,4-May,Left wheel,White,0.0
4,45809263,11726.0,446,HONDA,FIT,2014,Hatchback,Yes,Petrol,1.3,91901 km,4,Automatic,Front,4-May,Left wheel,Silver,4.0

In [ ]:
df.isnull().sum()  # tushib qolgan element juda kop shuning un datalarni drop qilib bolmaydi ,chunki maqsad model occuracy yuqori chiqarish imkon qadar

ID                     2
Price                  1
Levy                   1
Manufacturer           4
Model                  3
Prod. year             5
Category               5
Leather interior       2
Fuel type              5
Engine volume          1
Mileage                3
Cylinders              0
Gear box type          0
Drive wheels           0
Doors                  3
Wheel                  3
Color                  0
Airbags             2055
dtype: int64

# Handle missing value with for Loop

In [ ]:
for col in df.columns:                                                   #for loop bn missing value qilgan afzal erur,sabab 4 line cod bn har bitta tushub qolgan featurega code yozishdan qutulamiz
    if df[col].dtype=='object':
        df[col].fillna(df[col].mode()[0],inplace=True)
    else:
        df[col].fillna(df[col].mean(),inplace=True)

C:\Users\User\AppData\Local\Temp\ipykernel_6692\1058165353.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].mode()[0],inplace=True)
C:\Users\User\AppData\Local\Temp\ipykernel_6692\1058165353.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].mean(),inplace=True)

In [21]:
df.isnull().sum()

ID                  0
Price               0
Levy                0
Manufacturer        0
Model               0
Prod. year          0
Category            0
Leather interior    0
Fuel type           0
Engine volume       0
Mileage             0
Cylinders           0
Gear box type       0
Drive wheels        0
Doors               0
Wheel               0
Color               0
Airbags             0
dtype: int64

# Encoding

In [ ]:
df.info()  # object data typedagai featurelar juda kop. bunda ham for loopdan foydalanamiz .

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2111 entries, 0 to 2110
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID                2111 non-null   object
 1   Price             2111 non-null   float64
 2   Levy              2111 non-null   object
 3   Manufacturer      2111 non-null   object
 4   Model             2111 non-null   object
 5   Prod. year        2111 non-null   object
 6   Category          2111 non-null   object
 7   Leather interior  2111 non-null   object
 8   Fuel type         2111 non-null   object
 9   Engine volume     2111 non-null   object
 10  Mileage           2111 non-null   object
 11  Cylinders         2111 non-null   object
 12  Gear box type     2111 non-null   object
 13  Drive wheels      2111 non-null   object
 14  Doors             2111 non-null   object
 15  Wheel             2111 non-null   object
 16  Color             2111 non-null   object
 17  Airbags           2111 non-null   float64
dtypes: float64(2), object(16)
memory usage: 297.0+ KB

In [ ]:
cardinality=df.nunique() # Lekin avval cardinalityni topib olamiz maqsad onehot yoki Label qaysi biridan  foydalanamiz shuni aniqlab olish

In [ ]:
cardinality  #deyarli barcha data lamiz object ekan ularni numerical dat typega o'giramiz

ID                    58
Price               1449
Levy                1610
Manufacturer        1532
Model                 37
Prod. year            21
Category             817
Leather interior     637
Fuel type             10
Engine volume         22
Mileage             1318
Cylinders              6
Gear box type       1194
Drive wheels        1132
Doors                  5
Wheel                  7
Color                 15
Airbags                8
dtype: int64

In [28]:
for col in df.columns:
    if df[col].dtype=='object':
        if cardinality[col]<=5:
            df=pd.get_dummies(df,columns=[col],dtype=int,drop_first=True)
        else:
            le=LabelEncoder()
            df[col]=le.fit_transform(df[col])

In [33]:
df.info()    #korib turganimizdek 5 ta line code bn hamma object datalarni intager or floatga ozgartirib oldik

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2111 entries, 0 to 2110
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID                2111 non-null   int64
 1   Price             2111 non-null   float64
 2   Levy              2111 non-null   int64
 3   Manufacturer      2111 non-null   int64
 4   Model             2111 non-null   int64
 5   Prod. year        2111 non-null   int64
 6   Category          2111 non-null   int64
 7   Leather interior  2111 non-null   int64
 8   Fuel type         2111 non-null   int64
 9   Engine volume     2111 non-null   int64
 10  Mileage           2111 non-null   int64
 11  Cylinders         2111 non-null   int64
 12  Gear box type     2111 non-null   int64
 13  Drive wheels      2111 non-null   int64
 14  Wheel             2111 non-null   int64
 15  Color             2111 non-null   int64
 16  Airbags           2111 non-null   float64
 17  Doors_4-May       2111 non-null   int64
 18  Doors_Frequently  2111 non-null   int64
 19  Doors_Sometimes   2111 non-null   int64
 20  Doors_no          2111 non-null   int64
dtypes: float64(2), int64(19)
memory usage: 346.5 KB

# Scaling

In [ ]:
num_col=df.select_dtypes(include=['int64']).columns  #barcha intager larni belgilab bitt ozgaruvchiga tenglab olamiz

In [32]:
num_col

Index(['ID', 'Levy', 'Manufacturer', 'Model', 'Prod. year', 'Category',
       'Leather interior', 'Fuel type', 'Engine volume', 'Mileage',
       'Cylinders', 'Gear box type', 'Drive wheels', 'Wheel', 'Color',
       'Doors_4-May', 'Doors_Frequently', 'Doors_Sometimes', 'Doors_no'],
      dtype='object')

In [ ]:
scaler=StandardScaler()   #standard scalingdan foydalanamiz

In [35]:
df[num_col]=scaler.fit_transform(df[num_col])

In [ ]:
df.head()  # Xosh data larimizni kichraytirb oldik maqsad bitta kaatta datta dominantlik qilishini oldini olish

,ID,Price,Levy,Manufacturer,Model,Prod. year,Category,Leather interior,Fuel type,Engine volume,...,Cylinders,Gear box type,Drive wheels,Wheel,Color,Airbags,Doors_4-May,Doors_Frequently,Doors_Sometimes,Doors_no
0,-8.135587,13328.0,1.753891,1.652427,-2.495187,-6.070267,1.158649,1.331719,-1.384651,-2.341719,...,-4.072548,1.539495,1.538145,-0.670401,2.265057,12.0,6.231387,-0.17682,-1.356902,-0.647057
1,-10.181688,16621.0,1.732426,1.640393,-7.279601,-5.499295,1.158649,1.326197,-0.791028,-3.830984,...,-4.072548,1.544338,1.538145,-0.670401,-3.234121,8.0,6.231387,-0.17682,-1.356902,-0.647057
2,-4.043386,8467.0,-1.650465,1.645206,-6.382523,-8.354157,1.155267,1.326197,-0.791028,-9.788047,...,-6.136689,1.546760,1.540593,1.102313,-3.234121,2.0,6.231387,-0.17682,-1.356902,-0.647057
3,-5.159441,3607.0,1.798968,1.642800,-6.980575,-5.499295,1.158649,1.331719,-1.384651,-4.327406,...,-6.136689,1.539495,1.538145,-0.670401,3.181586,0.0,6.231387,-0.17682,-1.356902,-0.647057
4,-1.811276,11726.0,1.775356,1.645206,-6.382523,-3.786377,1.155267,1.331719,-0.791028,-9.788047,...,-6.136689,1.539495,1.540593,-0.670401,2.265057,4.0,6.231387,-0.17682,-1.356902,-0.647057

# Model Training Process

# Inputlarni x va outputni y bn belgilab ajratib olamiz

In [ ]:
y=df['Price']  # outputni tanlash

In [38]:
x=df.drop(columns=['Price'])   # inputlarni tanlash

In [40]:
x.head

<bound method NDFrame.head of              ID      Levy  Manufacturer     Model  Prod. year  Category  \
0     -8.135587  1.753891      1.652427 -2.495187   -6.070267  1.158649
1    -10.181688  1.732426      1.640393 -7.279601   -5.499295  1.158649
2     -4.043386 -1.650465      1.645206 -6.382523   -8.354157  1.155267
3     -5.159441  1.798968      1.642800 -6.980575   -5.499295  1.158649
4     -1.811276  1.775356      1.645206 -6.382523   -3.786377  1.155267
...         ...       ...           ...       ...         ...       ...
2106   0.048815  0.023809     -0.602733  0.196045    0.210429  1.145121
2107   0.048815  0.461696     -0.504055  0.196045    0.210429  1.145121
2108   0.048815  0.511065     -0.508869  0.196045    0.210429  1.145121
2109   0.048815  0.332905     -0.542564  0.196045    0.210429  1.145121
2110   0.048815  0.324319     -0.532936  0.196045    0.210429  1.145121

      Leather interior  Fuel type  Engine volume   Mileage  Cylinders  \
0             1.331719  -1.384651      -2.341719 -0.130142  -4.072548
1             1.326197  -0.791028      -3.830984 -0.125198  -4.072548
2             1.326197  -0.791028      -9.788047  1.647300  -6.136689
3             1.331719  -1.384651      -4.327406 -0.142502  -6.136689
4             1.331719  -0.791028      -9.788047  1.709102  -6.136689
...                ...        ...            ...       ...        ...
2106          0.453782   0.396217       0.140390 -0.589953   0.055735
2107          0.453782   0.396217       0.140390 -0.095533   0.055735
2108          0.453782   0.396217       0.140390  0.040433   0.055735
2109          0.453782   0.396217       0.140390  1.434699   0.055735
2110          0.453782   0.396217       0.140390  1.454476   0.055735

      Gear box type  Drive wheels     Wheel     Color    Airbags  Doors_4-May  \
0          1.539495      1.538145 -0.670401  2.265057  12.000000     6.231387
1          1.544338      1.538145 -0.670401 -3.234121   8.000000     6.231387
2          1.546760      1.540593  1.102313 -3.234121   2.000000     6.231387
3          1.539495      1.538145 -0.670401  3.181586   0.000000     6.231387
4          1.539495      1.540593 -0.670401  2.265057   4.000000     6.231387
...             ...           ...       ...       ...        ...          ...
2106       0.895403      0.603028  0.511408  0.431998   7.571429    -0.160478
2107       0.500714     -0.082398  0.511408  0.431998   7.571429    -0.160478
2108       0.566092      0.005729  0.511408  0.431998   7.571429    -0.160478
2109       0.258574     -0.104429  0.511408  0.431998   7.571429    -0.160478
2110       0.113290      0.164845  0.511408  0.431998   7.571429    -0.160478

      Doors_Frequently  Doors_Sometimes  Doors_no
0             -0.17682        -1.356902 -0.647057
1             -0.17682        -1.356902 -0.647057
2             -0.17682        -1.356902 -0.647057
3             -0.17682        -1.356902 -0.647057
4             -0.17682        -1.356902 -0.647057
...                ...              ...       ...
2106          -0.17682         0.736973 -0.647057
2107          -0.17682         0.736973 -0.647057
2108          -0.17682         0.736973 -0.647057
2109          -0.17682         0.736973 -0.647057
2110          -0.17682         0.736973 -0.647057

[2111 rows x 20 columns]>

In [42]:
x_train,x_temp,y_train,y_temp=train_test_split(x,y,test_size=0.2,random_state=42)    # Datani qismlarga ajratish train va temproraryga x ni ham yni ham
x_test,x_val,y_test,y_val=train_test_split(x_temp,y_temp,test_size=0.5,random_state=42)

In [43]:
x_train.shape

(1688, 20)

In [ ]:
x_val.shape

(212, 20)

In [ ]:
y_train.shape  #

(1688,)

In [46]:
y_test.shape

(211,)

In [47]:
y_val.shape

(212,)

# Model Selection

In [48]:
model=LinearRegression()

In [49]:
linear_model=model.fit(x_train,y_train)

In [50]:
y_pred=linear_model.predict(x_test)

In [60]:
y

0       13328.000000
1       16621.000000
2        8467.000000
3        3607.000000
4       11726.000000
            ...
2106       20.976842
2107       21.982942
2108       22.524036
2109       24.361936
2110       23.664709
Name: Price, Length: 2111, dtype: float64

In [59]:
mse_linear=mean_squared_error(y_test,y_pred)
r2_linear=r2_score(y_test,y_pred)

In [54]:
y_pred

array([-1.67954901e+03,  1.89695329e+02,  7.70933326e+01,  3.19944865e+02,
        1.71564151e+02, -2.37205371e+03,  3.68956327e+02, -1.93907984e+02,
        2.14683444e+02,  5.01865998e+02,  1.73924474e+04,  2.18163365e+02,
        1.69797873e+02,  6.93213284e+01, -1.66519751e+02, -2.30495810e+03,
        1.70944786e+02, -9.25740810e+01,  5.97512308e+02,  1.86393778e+02,
        3.00904876e+02,  8.67886268e+02, -1.13912549e+02,  9.54112265e+02,
        1.25680704e+02,  3.98753853e+02, -8.81607424e+01,  9.62835747e+01,
        1.13957168e+02,  9.29959444e+02, -1.21495768e+03,  6.03881625e+02,
        5.27028264e+02,  3.35464168e+02, -9.95362328e+01, -2.21935310e+02,
        5.15325442e+02,  1.19594019e+02, -1.39895895e+03,  1.81029758e+01,
        3.08793365e+02,  1.19172661e+02, -1.66263637e+02, -1.05274973e+00,
        2.92115943e+02,  5.38346639e+02,  7.61714148e+02, -1.85900244e+03,
        6.92962533e+01,  1.85363315e+02, -3.45425774e+01,  1.16962927e+02,
        2.00080111e+02,  2.92427440e+02,  2.51991177e+02,  2.32795060e+02,
       -6.73166451e+02,  2.87320976e+02,  1.26165422e+03, -1.96242692e+02,
       -1.63004145e+03,  1.12370256e+03,  3.27820616e+02,  9.22235739e+01,
       -1.71556843e+02,  8.45560672e+00,  3.72739934e+02,  2.09413814e+02,
        3.08340307e+02,  1.70412588e+02, -1.73426418e+03, -4.75125661e+01,
       -2.91373201e+02, -1.32596381e+03,  1.54115987e+02,  8.11373720e+02,
        4.18934829e+02,  3.30802412e+02, -4.89734511e+01, -9.18439675e+01,
        1.87163628e+02, -2.48276588e+02,  4.57783437e+02, -1.95901247e+03,
        5.34493653e+02, -1.80623996e+03, -1.96495769e+03,  4.16396103e+02,
        4.49217709e+02, -2.73928235e+02, -1.00076708e+03,  2.85733647e+02,
       -2.03413272e+02, -5.82792985e+02,  3.23566291e+02, -6.96563237e+01,
       -1.88892615e+03,  4.00602263e+02,  7.91801206e+02,  3.49147017e+02,
        3.11235260e+02,  1.51810322e+02,  2.14696896e+02,  6.95591275e+01,
       -4.85585199e+00,  2.41597607e+02,  2.37574711e+02,  1.77161016e+01,
        5.19677116e+02,  3.82547303e+02,  2.15757452e+02, -3.11218641e+02,
        2.87307274e+02, -7.80136958e+01,  6.46312651e+02,  5.07402598e+02,
        2.82350954e+01,  1.10743153e+03,  1.87826825e+02, -1.93277130e+03,
        4.64548712e+02, -2.18973596e+03,  3.14237332e+02,  1.60066841e+02,
        4.87585683e+02,  4.93623198e+02,  4.50838931e+02,  3.77341262e+02,
       -4.91025309e+02, -1.48105041e+03,  2.28609938e+02,  2.04907625e+02,
       -6.64578391e+01,  5.08645598e+02,  2.75783679e+02,  7.96892830e+02,
        3.03691064e+02,  2.95461012e+01,  6.18109081e+02, -2.27488941e+03,
        1.03581674e+02, -1.31125806e+00,  2.63606170e+02,  1.06563936e+03,
        5.31649851e+02, -3.65678113e+00,  3.34962518e+02,  3.57227232e+00,
        1.36379361e+03,  1.09857208e+02, -1.49393149e+03,  3.64522475e+02,
        3.28901605e+02, -1.85026773e+03,  1.02504360e+03, -2.16512556e+02,
        2.40003126e+02, -2.16115673e+02, -4.91308181e+01, -1.67357079e+03,
       -1.10926285e+03,  4.44721356e+02, -1.77712151e+02,  2.92718436e+02,
       -2.32396385e+03,  1.83828133e+02, -4.10466127e+02,  2.17736868e+02,
       -5.18725770e+01, -2.14075595e+02,  7.84453815e+01, -2.24846585e+02,
        3.74885249e+03,  5.41875062e+02,  2.50953211e+02, -1.97895355e+03,
        2.58474524e+02, -1.45166384e+03, -7.86122067e+02,  4.68492855e+02,
        1.84690256e+02,  8.15659457e+02,  9.55847162e+02, -2.80732720e+01,
        2.92957633e+02,  2.39989423e+02, -1.77572608e+02,  3.17405710e+02,
        8.03882558e+01, -2.70338053e+02,  7.91221623e+02, -3.10450274e+02,
       -5.00910788e+01,  5.82769578e+01,  2.84776327e+02,  5.93707779e+02,
        2.69486405e+02, -2.70009038e+02,  6.38804400e+02,  2.97228775e+02,
        8.63268996e+03, -4.65387120e+01, -2.49968592e+02, -1.98840203e+03,
       -2.81068896e+02, -2.09802838e+03,  2.06149795e+02,  7.04224668e+01,
       -6.36317385e+01,  9.44667742e+01,  3.38888828e+02])

In [57]:
y_test

1178    19.684891
938     21.028500
342     23.000000
968     31.793937
590     20.400053
          ...
368     37.000000
480     18.000000
1360    30.796260
867     16.950499
1905    26.000000
Name: Price, Length: 211, dtype: float64

In [58]:
accuracy=accuracy_score(y_test,y_pred)

ValueError: continuous is not supported

In [ ]:
print(mse_linear) # menda mse juda yuqori chiqdi model aniqliligi juda pastligini bildiradi FAILED
print(r2_linear)

3187001.6944697197
0.4338822102601475