In [4]:
pip install pandas

Requirement already satisfied: pandas in c:\users\davro\appdata\local\programs\python\python313\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\davro\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.1.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\davro\appdata\roaming\python\python313\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\davro\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\davro\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in c:\users\davro\appdata\roaming\python\python313\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [1]:
import pandas as pd   #   Kutubxona

In [ ]:
# Avvalo install qilishimiz kerak 
# 1 pip install pandas

In [2]:
df=pd.read_csv('telefon turini aniqlash2.csv')

In [2]:
df=pd.read_csv('telefon turini aniqlash2.csv')   # datani vis codega o'rnatish

In [ ]:
df.head()   # tepadan 5 ta qatorni ko'rish

,battereya_hajmi,blutus,protsessor_tezligi,ikkita simkartalik,Oldi_kamera,4G,Ichki_xotira,tel_ingichgaligi,Rangi,Vazni,...,Qurilma ekran kengligi(pix),ram,Qurilma xajmi(cm),Qurilma ekran kengligi(cm),Bir_quvvatlashdagi gaplashish,3g,Qurilma xajmi(pix).1,sensorli,wifi,telefon_turi
0,842,0,2.2,0,1,0,7,0.6,Qizil,188,...,756.0,2549,9.0,7.0,19,0,20.0,0,1,1
1,1021,1,0.5,1,0,1,53,0.7,Yashil,136,...,1988.0,2631,17.0,3.0,7,1,905.0,1,0,2
2,563,1,0.5,1,2,1,41,0.9,Sariq,145,...,1716.0,2603,11.0,2.0,9,1,1263.0,1,0,2
3,615,1,2.5,0,0,0,10,0.8,Jigarrang,131,...,1786.0,2769,16.0,8.0,11,1,1216.0,0,0,2
4,1821,1,1.2,0,13,1,44,0.6,Oq,141,...,1212.0,1411,8.0,2.0,15,1,1208.0,1,0,1

In [ ]:
df.tail()    # Pastdan 5 ta qatorni ko'rish

In [9]:
df.head(10)

,battereya_hajmi,blutus,protsessor_tezligi,ikkita simkartalik,Oldi_kamera,4G,Ichki_xotira,tel_ingichgaligi,Rangi,Vazni,...,Qurilma ekran kengligi(pix),ram,Qurilma xajmi(cm),Qurilma ekran kengligi(cm),Bir_quvvatlashdagi gaplashish,3g,Qurilma xajmi(pix).1,sensorli,wifi,telefon_turi
0,842,0,2.2,0,1,0,7,0.6,Qizil,188,...,756.0,2549,9.0,7.0,19,0,20.0,0,1,1
1,1021,1,0.5,1,0,1,53,0.7,Yashil,136,...,1988.0,2631,17.0,3.0,7,1,905.0,1,0,2
2,563,1,0.5,1,2,1,41,0.9,Sariq,145,...,1716.0,2603,11.0,2.0,9,1,1263.0,1,0,2
3,615,1,2.5,0,0,0,10,0.8,Jigarrang,131,...,1786.0,2769,16.0,8.0,11,1,1216.0,0,0,2
4,1821,1,1.2,0,13,1,44,0.6,Oq,141,...,1212.0,1411,8.0,2.0,15,1,1208.0,1,0,1
5,1859,0,0.5,1,3,0,22,NaN,Oq,164,...,1654.0,1067,17.0,1.0,10,1,1004.0,0,0,1
6,1821,0,1.7,0,4,1,10,0.8,Yashil,139,...,1018.0,3220,13.0,8.0,18,1,381.0,0,1,3
7,1954,0,0.5,1,0,0,24,0.8,Yashil,187,...,1149.0,700,16.0,3.0,5,1,512.0,1,1,0
8,1954,0,0.5,1,0,0,24,0.8,Yashil,187,...,1149.0,700,16.0,3.0,5,1,512.0,1,1,0
9,1445,1,0.5,0,0,0,53,0.7,Yashil,174,...,836.0,1099,17.0,1.0,20,1,386.0,0,0,0

In [ ]:
df.info()   # data xaqida umumiy malumot olish

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2001 entries, 0 to 2000
Data columns (total 23 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   battereya_hajmi                2001 non-null   int64
 1   blutus                         2001 non-null   int64
 2   protsessor_tezligi             2001 non-null   float64
 3   ikkita simkartalik             2001 non-null   int64
 4   Oldi_kamera                    2001 non-null   int64
 5   4G                             2001 non-null   int64
 6   Ichki_xotira                   2001 non-null   int64
 7   tel_ingichgaligi               1998 non-null   float64
 8   Rangi                          2001 non-null   object
 9   Vazni                          2001 non-null   int64
 10  Protsessor yadrolari soni      2000 non-null   float64
 11  Asosiy kamera                  1999 non-null   float64
 12  Qurilma xajmi(pix)             1999 non-null   float64
 13  Qurilma ekran kengligi(pix)    1998 non-null   float64
 14  ram                            2001 non-null   int64
 15  Qurilma xajmi(cm)              2000 non-null   float64
 16  Qurilma ekran kengligi(cm)     2000 non-null   float64
 17  Bir_quvvatlashdagi gaplashish  2001 non-null   int64
 18  3g                             2001 non-null   int64
 19  Qurilma xajmi(pix).1           1999 non-null   float64
 20  sensorli                       2001 non-null   int64
 21  wifi                           2001 non-null   int64
 22  telefon_turi                   2001 non-null   int64
dtypes: float64(9), int64(13), object(1)
memory usage: 359.7+ KB

In [ ]:
# Object= hello, -, 2023-20-09, 123/34, 123$34

In [12]:
df.isnull().sum()# tushub qolgan elementlarni ajratib yozish

battereya_hajmi                  0
blutus                           0
protsessor_tezligi               0
ikkita simkartalik               0
Oldi_kamera                      0
4G                               0
Ichki_xotira                     0
tel_ingichgaligi                 3
Rangi                            0
Vazni                            0
Protsessor yadrolari soni        1
Asosiy kamera                    2
Qurilma xajmi(pix)               2
Qurilma ekran kengligi(pix)      3
ram                              0
Qurilma xajmi(cm)                1
Qurilma ekran kengligi(cm)       1
Bir_quvvatlashdagi gaplashish    0
3g                               0
Qurilma xajmi(pix).1             2
sensorli                         0
wifi                             0
telefon_turi                     0
dtype: int64

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2001 entries, 0 to 2000
Data columns (total 23 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   battereya_hajmi                2001 non-null   int64
 1   blutus                         2001 non-null   int64
 2   protsessor_tezligi             2001 non-null   float64
 3   ikkita simkartalik             2001 non-null   int64
 4   Oldi_kamera                    2001 non-null   int64
 5   4G                             2001 non-null   int64
 6   Ichki_xotira                   2001 non-null   int64
 7   tel_ingichgaligi               1998 non-null   float64
 8   Rangi                          2001 non-null   object
 9   Vazni                          2001 non-null   int64
 10  Protsessor yadrolari soni      2000 non-null   float64
 11  Asosiy kamera                  1999 non-null   float64
 12  Qurilma xajmi(pix)             1999 non-null   float64
 13  Qurilma ekran kengligi(pix)    1998 non-null   float64
 14  ram                            2001 non-null   int64
 15  Qurilma xajmi(cm)              2000 non-null   float64
 16  Qurilma ekran kengligi(cm)     2000 non-null   float64
 17  Bir_quvvatlashdagi gaplashish  2001 non-null   int64
 18  3g                             2001 non-null   int64
 19  Qurilma xajmi(pix).1           1999 non-null   float64
 20  sensorli                       2001 non-null   int64
 21  wifi                           2001 non-null   int64
 22  telefon_turi                   2001 non-null   int64
dtypes: float64(9), int64(13), object(1)
memory usage: 359.7+ KB

# Tushub qolgan elementlarni to'ldirish

In [14]:
# tushib qolgan elementlar bor ustunlarni tashlab  tashlab yuborish
df.dropna(axis=1, inplace=True)

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2001 entries, 0 to 2000
Data columns (total 15 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   battereya_hajmi                2001 non-null   int64
 1   blutus                         2001 non-null   int64
 2   protsessor_tezligi             2001 non-null   float64
 3   ikkita simkartalik             2001 non-null   int64
 4   Oldi_kamera                    2001 non-null   int64
 5   4G                             2001 non-null   int64
 6   Ichki_xotira                   2001 non-null   int64
 7   Rangi                          2001 non-null   object
 8   Vazni                          2001 non-null   int64
 9   ram                            2001 non-null   int64
 10  Bir_quvvatlashdagi gaplashish  2001 non-null   int64
 11  3g                             2001 non-null   int64
 12  sensorli                       2001 non-null   int64
 13  wifi                           2001 non-null   int64
 14  telefon_turi                   2001 non-null   int64
dtypes: float64(1), int64(13), object(1)
memory usage: 234.6+ KB

In [3]:
df.isnull().sum()# tushub qolgan elementlarni ajratib yozish

battereya_hajmi                  0
blutus                           0
protsessor_tezligi               0
ikkita simkartalik               0
Oldi_kamera                      0
4G                               0
Ichki_xotira                     0
tel_ingichgaligi                 3
Rangi                            0
Vazni                            0
Protsessor yadrolari soni        1
Asosiy kamera                    2
Qurilma xajmi(pix)               2
Qurilma ekran kengligi(pix)      3
ram                              0
Qurilma xajmi(cm)                1
Qurilma ekran kengligi(cm)       1
Bir_quvvatlashdagi gaplashish    0
3g                               0
Qurilma xajmi(pix).1             2
sensorli                         0
wifi                             0
telefon_turi                     0
dtype: int64

In [4]:
df.drop(columns=['tel_ingichgaligi'], axis=1, inplace=True)

In [5]:
df.isnull().sum()# tushub qolgan elementlarni ajratib yozish

battereya_hajmi                  0
blutus                           0
protsessor_tezligi               0
ikkita simkartalik               0
Oldi_kamera                      0
4G                               0
Ichki_xotira                     0
Rangi                            0
Vazni                            0
Protsessor yadrolari soni        1
Asosiy kamera                    2
Qurilma xajmi(pix)               2
Qurilma ekran kengligi(pix)      3
ram                              0
Qurilma xajmi(cm)                1
Qurilma ekran kengligi(cm)       1
Bir_quvvatlashdagi gaplashish    0
3g                               0
Qurilma xajmi(pix).1             2
sensorli                         0
wifi                             0
telefon_turi                     0
dtype: int64

In [ ]:
df.drop(columns=['tel_ingichgaligi'], axis=1, inplace=True)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2001 entries, 0 to 2000
Data columns (total 22 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   battereya_hajmi                2001 non-null   int64
 1   blutus                         2001 non-null   int64
 2   protsessor_tezligi             2001 non-null   float64
 3   ikkita simkartalik             2001 non-null   int64
 4   Oldi_kamera                    2001 non-null   int64
 5   4G                             2001 non-null   int64
 6   Ichki_xotira                   2001 non-null   int64
 7   Rangi                          2001 non-null   object
 8   Vazni                          2001 non-null   int64
 9   Protsessor yadrolari soni      2000 non-null   float64
 10  Asosiy kamera                  1999 non-null   float64
 11  Qurilma xajmi(pix)             1999 non-null   float64
 12  Qurilma ekran kengligi(pix)    1998 non-null   float64
 13  ram                            2001 non-null   int64
 14  Qurilma xajmi(cm)              2000 non-null   float64
 15  Qurilma ekran kengligi(cm)     2000 non-null   float64
 16  Bir_quvvatlashdagi gaplashish  2001 non-null   int64
 17  3g                             2001 non-null   int64
 18  Qurilma xajmi(pix).1           1999 non-null   float64
 19  sensorli                       2001 non-null   int64
 20  wifi                           2001 non-null   int64
 21  telefon_turi                   2001 non-null   int64
dtypes: float64(8), int64(13), object(1)
memory usage: 344.1+ KB

In [7]:
df.isnull().sum()

battereya_hajmi                  0
blutus                           0
protsessor_tezligi               0
ikkita simkartalik               0
Oldi_kamera                      0
4G                               0
Ichki_xotira                     0
Rangi                            0
Vazni                            0
Protsessor yadrolari soni        1
Asosiy kamera                    2
Qurilma xajmi(pix)               2
Qurilma ekran kengligi(pix)      3
ram                              0
Qurilma xajmi(cm)                1
Qurilma ekran kengligi(cm)       1
Bir_quvvatlashdagi gaplashish    0
3g                               0
Qurilma xajmi(pix).1             2
sensorli                         0
wifi                             0
telefon_turi                     0
dtype: int64

In [8]:
#Mean bn to'ldirish
df['Protsessor yadrolari soni'].fillna(df['Protsessor yadrolari soni'].mean(), inplace=True)

C:\Users\davro\AppData\Local\Temp\ipykernel_26520\372643331.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Protsessor yadrolari soni'].fillna(df['Protsessor yadrolari soni'].mean(), inplace=True)

In [9]:
df.isnull().sum()

battereya_hajmi                  0
blutus                           0
protsessor_tezligi               0
ikkita simkartalik               0
Oldi_kamera                      0
4G                               0
Ichki_xotira                     0
Rangi                            0
Vazni                            0
Protsessor yadrolari soni        0
Asosiy kamera                    2
Qurilma xajmi(pix)               2
Qurilma ekran kengligi(pix)      3
ram                              0
Qurilma xajmi(cm)                1
Qurilma ekran kengligi(cm)       1
Bir_quvvatlashdagi gaplashish    0
3g                               0
Qurilma xajmi(pix).1             2
sensorli                         0
wifi                             0
telefon_turi                     0
dtype: int64

In [ ]:
#inplace=True   ortiqcha o'zgaruvchi qo'shishni oldini oladi

In [10]:
#Mean bn to'ldirish
df['Qurilma xajmi(pix).1'].fillna(df['Qurilma xajmi(pix).1'].mean(), inplace=True)

C:\Users\davro\AppData\Local\Temp\ipykernel_26520\2579508016.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Qurilma xajmi(pix).1'].fillna(df['Qurilma xajmi(pix).1'].mean(), inplace=True)

In [11]:
df.isnull().sum()

battereya_hajmi                  0
blutus                           0
protsessor_tezligi               0
ikkita simkartalik               0
Oldi_kamera                      0
4G                               0
Ichki_xotira                     0
Rangi                            0
Vazni                            0
Protsessor yadrolari soni        0
Asosiy kamera                    2
Qurilma xajmi(pix)               2
Qurilma ekran kengligi(pix)      3
ram                              0
Qurilma xajmi(cm)                1
Qurilma ekran kengligi(cm)       1
Bir_quvvatlashdagi gaplashish    0
3g                               0
Qurilma xajmi(pix).1             0
sensorli                         0
wifi                             0
telefon_turi                     0
dtype: int64

In [12]:
#Mean bn to'ldirish
df['Asosiy kamera'].fillna(df['Asosiy kamera'].mode()[0], inplace=True)

C:\Users\davro\AppData\Local\Temp\ipykernel_26520\1034873704.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Asosiy kamera'].fillna(df['Asosiy kamera'].mode()[0], inplace=True)

In [14]:
df.isnull().sum()

battereya_hajmi                  0
blutus                           0
protsessor_tezligi               0
ikkita simkartalik               0
Oldi_kamera                      0
4G                               0
Ichki_xotira                     0
Rangi                            0
Vazni                            0
Protsessor yadrolari soni        0
Asosiy kamera                    0
Qurilma xajmi(pix)               2
Qurilma ekran kengligi(pix)      3
ram                              0
Qurilma xajmi(cm)                1
Qurilma ekran kengligi(cm)       1
Bir_quvvatlashdagi gaplashish    0
3g                               0
Qurilma xajmi(pix).1             0
sensorli                         0
wifi                             0
telefon_turi                     0
dtype: int64