# Data Preprocessing

In [18]:

pip install pandas

Requirement already satisfied: pandas in c:\users\user\appdata\local\programs\python\python313\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\user\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.2.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\user\appdata\roaming\python\python313\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\user\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\user\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.1)
Requirement already satisfied: six>=1.5 in c:\users\user\appdata\roaming\python\python313\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.3.1 -> 25.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [21]:
import pandas as pd

# data setni vs codega o'rnatish

In [23]:
df=pd.read_csv('heart_attack_risk_dataset.csv')

# data haqida umumiy ma'lumot olish

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 20 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Age                      50000 non-null  int64
 1   Gender                   50000 non-null  object
 2   Smoking                  49997 non-null  float64
 3   Alcohol_Consumption      50000 non-null  int64
 4   Physical_Activity_Level  49997 non-null  object
 5   BMI                      50000 non-null  float64
 6   Diabetes                 50000 non-null  int64
 7   Hypertension             50000 non-null  int64
 8   Cholesterol_Level        49999 non-null  float64
 9   Resting_BP               50000 non-null  int64
 10  Heart_Rate               49996 non-null  float64
 11  Family_History           50000 non-null  int64
 12  Stress_Level             50000 non-null  object
 13  Chest_Pain_Type          50000 non-null  object
 14  Thalassemia              50000 non-null  object
 15  Fasting_Blood_Sugar      49998 non-null  float64
 16  ECG_Results              50000 non-null  object
 17  Exercise_Induced_Angina  49998 non-null  float64
 18  Max_Heart_Rate_Achieved  50000 non-null  int64
 19  Heart_Attack_Risk        50000 non-null  object
dtypes: float64(6), int64(7), object(7)
memory usage: 7.6+ MB

In [14]:
df.describe()

,Age,Smoking,Alcohol_Consumption,BMI,Diabetes,Hypertension,Cholesterol_Level,Resting_BP,Heart_Rate,Family_History,Fasting_Blood_Sugar,Exercise_Induced_Angina,Max_Heart_Rate_Achieved
count,50000.000000,49997.000000,50000.000000,50000.000000,50000.000000,50000.00000,49999.000000,50000.000000,49996.000000,50000.00000,49998.000000,49998.000000,50000.000000
mean,53.398700,0.298398,0.401980,27.519357,0.198840,0.29738,225.037407,134.434100,94.528722,0.30034,0.149366,0.201628,149.305340
std,20.799006,0.457560,0.490303,7.225176,0.399131,0.45711,43.317271,25.907961,20.186777,0.45841,0.356452,0.401220,28.823699
min,18.000000,0.000000,0.000000,15.000000,0.000000,0.00000,150.000000,90.000000,60.000000,0.00000,0.000000,0.000000,100.000000
25%,35.000000,0.000000,0.000000,21.270000,0.000000,0.00000,187.300000,112.000000,77.000000,0.00000,0.000000,0.000000,124.000000
50%,53.000000,0.000000,0.000000,27.540000,0.000000,0.00000,225.100000,134.000000,94.000000,0.00000,0.000000,0.000000,149.000000
75%,71.000000,1.000000,1.000000,33.770000,0.000000,1.00000,262.600000,157.000000,112.000000,1.00000,0.000000,0.000000,174.000000
max,89.000000,1.000000,1.000000,40.000000,1.000000,1.00000,300.000000,179.000000,129.000000,1.00000,1.000000,1.000000,199.000000

# data bilan tanishuv

In [15]:
df.head()

,Age,Gender,Smoking,Alcohol_Consumption,Physical_Activity_Level,BMI,Diabetes,Hypertension,Cholesterol_Level,Resting_BP,Heart_Rate,Family_History,Stress_Level,Chest_Pain_Type,Thalassemia,Fasting_Blood_Sugar,ECG_Results,Exercise_Induced_Angina,Max_Heart_Rate_Achieved,Heart_Attack_Risk
0,69,Female,1.0,0,Moderate,34.61,1,0,152.1,171,85.0,0,Moderate,Non-anginal,Reversible defect,0.0,Normal,0.0,114,Low
1,32,Male,0.0,0,Moderate,22.75,0,0,166.8,126,103.0,0,Low,Asymptomatic,Normal,0.0,ST-T abnormality,0.0,173,Moderate
2,89,Male,0.0,1,Moderate,35.32,0,0,272.3,123,127.0,0,Low,Typical,Reversible defect,0.0,ST-T abnormality,0.0,109,Low
3,78,Male,0.0,1,Moderate,18.23,1,0,237.7,144,125.0,0,Low,Typical,Fixed defect,1.0,Left Ventricular Hypertrophy,0.0,129,Low
4,38,Female,1.0,0,Moderate,19.82,0,0,207.7,123,107.0,0,High,Asymptomatic,Reversible defect,0.0,ST-T abnormality,0.0,124,Moderate

# Tushib qolgan elementlarni aniqlash

In [36]:
df.isnull().sum()

Age                        0
Gender                     0
Smoking                    3
Alcohol_Consumption        0
Physical_Activity_Level    3
BMI                        0
Diabetes                   0
Hypertension               0
Cholesterol_Level          1
Resting_BP                 0
Heart_Rate                 4
Family_History             0
Stress_Level               0
Chest_Pain_Type            0
Thalassemia                0
Fasting_Blood_Sugar        2
ECG_Results                0
Exercise_Induced_Angina    2
Max_Heart_Rate_Achieved    0
Heart_Attack_Risk          0
dtype: int64

# Tushib qolgan elementlarni to'ldirish

In [38]:
#usul 1 tushib qolgan elemnt bor ustunlarni tashlab yuborish
df.dropna(axis=1,inplace=True)

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Age                      50000 non-null  int64
 1   Gender                   50000 non-null  object
 2   Alcohol_Consumption      50000 non-null  int64
 3   BMI                      50000 non-null  float64
 4   Diabetes                 50000 non-null  int64
 5   Hypertension             50000 non-null  int64
 6   Resting_BP               50000 non-null  int64
 7   Family_History           50000 non-null  int64
 8   Stress_Level             50000 non-null  object
 9   Chest_Pain_Type          50000 non-null  object
 10  Thalassemia              50000 non-null  object
 11  ECG_Results              50000 non-null  object
 12  Max_Heart_Rate_Achieved  50000 non-null  int64
 13  Heart_Attack_Risk        50000 non-null  object
dtypes: float64(1), int64(7), object(6)
memory usage: 5.3+ MB

In [44]:
df.isnull().sum()

Age                        0
Gender                     0
Alcohol_Consumption        0
BMI                        0
Diabetes                   0
Hypertension               0
Resting_BP                 0
Family_History             0
Stress_Level               0
Chest_Pain_Type            0
Thalassemia                0
ECG_Results                0
Max_Heart_Rate_Achieved    0
Heart_Attack_Risk          0
dtype: int64

# tushub qolgan elementlarni ajratib olish

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 20 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Age                      50000 non-null  int64
 1   Gender                   50000 non-null  object
 2   Smoking                  49997 non-null  float64
 3   Alcohol_Consumption      50000 non-null  int64
 4   Physical_Activity_Level  49997 non-null  object
 5   BMI                      50000 non-null  float64
 6   Diabetes                 50000 non-null  int64
 7   Hypertension             50000 non-null  int64
 8   Cholesterol_Level        49999 non-null  float64
 9   Resting_BP               50000 non-null  int64
 10  Heart_Rate               49996 non-null  float64
 11  Family_History           50000 non-null  int64
 12  Stress_Level             50000 non-null  object
 13  Chest_Pain_Type          50000 non-null  object
 14  Thalassemia              50000 non-null  object
 15  Fasting_Blood_Sugar      49998 non-null  float64
 16  ECG_Results              50000 non-null  object
 17  Exercise_Induced_Angina  49998 non-null  float64
 18  Max_Heart_Rate_Achieved  50000 non-null  int64
 19  Heart_Attack_Risk        50000 non-null  object
dtypes: float64(6), int64(7), object(7)
memory usage: 7.6+ MB

In [7]:
df.isnull().sum() # tushub qolgan elementlarni ajratib yozish

Age                        0
Gender                     0
Smoking                    3
Alcohol_Consumption        0
Physical_Activity_Level    3
BMI                        0
Diabetes                   0
Hypertension               0
Cholesterol_Level          1
Resting_BP                 0
Heart_Rate                 4
Family_History             0
Stress_Level               0
Chest_Pain_Type            0
Thalassemia                0
Fasting_Blood_Sugar        2
ECG_Results                0
Exercise_Induced_Angina    2
Max_Heart_Rate_Achieved    0
Heart_Attack_Risk          0
dtype: int64

In [8]:
df.drop(columns=['Smoking'],axis=1,inplace=True) # kerak emas ustunni tashlab yuborish 2 ji usul

In [9]:
df.isnull().sum()

Age                        0
Gender                     0
Alcohol_Consumption        0
Physical_Activity_Level    3
BMI                        0
Diabetes                   0
Hypertension               0
Cholesterol_Level          1
Resting_BP                 0
Heart_Rate                 4
Family_History             0
Stress_Level               0
Chest_Pain_Type            0
Thalassemia                0
Fasting_Blood_Sugar        2
ECG_Results                0
Exercise_Induced_Angina    2
Max_Heart_Rate_Achieved    0
Heart_Attack_Risk          0
dtype: int64

In [10]:
df.drop(columns=['Physical_Activity_Level'],axis=1,inplace=True)

In [17]:
df.isnull().sum()

Age                        0
Gender                     0
Alcohol_Consumption        0
BMI                        0
Diabetes                   0
Hypertension               0
Resting_BP                 0
Heart_Rate                 4
Family_History             0
Stress_Level               0
Chest_Pain_Type            0
Thalassemia                0
Fasting_Blood_Sugar        2
ECG_Results                0
Exercise_Induced_Angina    2
Max_Heart_Rate_Achieved    0
Heart_Attack_Risk          0
dtype: int64

In [18]:
df.drop(columns=['Heart_Rate'],axis=1,inplace=True)

In [19]:
df.drop(columns=['Exercise_Induced_Angina'],axis=1,inplace=True)

In [21]:
df.drop(columns=['Fasting_Blood_Sugar'],axis=1,inplace=True)

In [22]:
df.isnull().sum()

Age                        0
Gender                     0
Alcohol_Consumption        0
BMI                        0
Diabetes                   0
Hypertension               0
Resting_BP                 0
Family_History             0
Stress_Level               0
Chest_Pain_Type            0
Thalassemia                0
ECG_Results                0
Max_Heart_Rate_Achieved    0
Heart_Attack_Risk          0
dtype: int64

# Mean missing value ni handle qilish 2 ji usul

In [5]:
df.isnull().sum()

Age                        0
Gender                     0
Smoking                    3
Alcohol_Consumption        0
Physical_Activity_Level    3
BMI                        0
Diabetes                   0
Hypertension               0
Cholesterol_Level          1
Resting_BP                 0
Heart_Rate                 4
Family_History             0
Stress_Level               0
Chest_Pain_Type            0
Thalassemia                0
Fasting_Blood_Sugar        2
ECG_Results                0
Exercise_Induced_Angina    2
Max_Heart_Rate_Achieved    0
Heart_Attack_Risk          0
dtype: int64

In [8]:
df['Smoking'].fillna(df['Smoking'].mean(),inplace=True)

C:\Users\User\AppData\Local\Temp\ipykernel_14144\2680152424.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Smoking'].fillna(df['Smoking'].mean(),inplace=True)

In [9]:
df.isnull().sum()

Age                        0
Gender                     0
Smoking                    0
Alcohol_Consumption        0
Physical_Activity_Level    3
BMI                        0
Diabetes                   0
Hypertension               0
Cholesterol_Level          1
Resting_BP                 0
Heart_Rate                 4
Family_History             0
Stress_Level               0
Chest_Pain_Type            0
Thalassemia                0
Fasting_Blood_Sugar        2
ECG_Results                0
Exercise_Induced_Angina    2
Max_Heart_Rate_Achieved    0
Heart_Attack_Risk          0
dtype: int64

In [10]:
df['Physical_Activity_Level'].fillna(df['Physical_Activity_Level'].mean(),inplace=True) # Object data type bo'lgani un mean da missing valueni to'ldirib bo'lmadi

TypeError: can only concatenate str (not "int") to str

In [14]:
df['Cholesterol_Level'].fillna(df['Cholesterol_Level'].mean(),inplace=True)      # Demak mean handle qilishda tushib qolgan usunlarni bir boxda coding qilsa bolar ekan 'auf'
df['Heart_Rate'].fillna(df['Heart_Rate'].mean(),inplace=True)
df['Fasting_Blood_Sugar'].fillna(df['Fasting_Blood_Sugar'].mean(),inplace=True)
df['Exercise_Induced_Angina'].fillna(df['Exercise_Induced_Angina'].mean(),inplace=True)

C:\Users\User\AppData\Local\Temp\ipykernel_14144\78353493.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Cholesterol_Level'].fillna(df['Cholesterol_Level'].mean(),inplace=True)
C:\Users\User\AppData\Local\Temp\ipykernel_14144\78353493.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Heart_Rate'].fillna(df['Heart_Rate'].mean(),inplace=True)
C:\Users\User\AppData\Local\Temp\ipykernel_14144\78353493.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Fasting_Blood_Sugar'].fillna(df['Fasting_Blood_Sugar'].mean(),inplace=True)
C:\Users\User\AppData\Local\Temp\ipykernel_14144\78353493.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Exercise_Induced_Angina'].fillna(df['Exercise_Induced_Angina'].mean(),inplace=True)

In [17]:
df.isnull().sum()

Age                        0
Gender                     0
Smoking                    0
Alcohol_Consumption        0
Physical_Activity_Level    3
BMI                        0
Diabetes                   0
Hypertension               0
Cholesterol_Level          0
Resting_BP                 0
Heart_Rate                 0
Family_History             0
Stress_Level               0
Chest_Pain_Type            0
Thalassemia                0
Fasting_Blood_Sugar        0
ECG_Results                0
Exercise_Induced_Angina    0
Max_Heart_Rate_Achieved    0
Heart_Attack_Risk          0
dtype: int64

# Mode hanle qilish usuli missing value qiymatlarni

In [18]:
# endi mana shu object data typni mode uslda handle qilamiz
df['Physical_Activity_Level'].fillna(df['Physical_Activity_Level'].mode()[0],inplace=True)

In [19]:
df.isnull().sum()  #biz total handle(mean va mode ) qildik 'uree'

Age                        0
Gender                     0
Smoking                    0
Alcohol_Consumption        0
Physical_Activity_Level    0
BMI                        0
Diabetes                   0
Hypertension               0
Cholesterol_Level          0
Resting_BP                 0
Heart_Rate                 0
Family_History             0
Stress_Level               0
Chest_Pain_Type            0
Thalassemia                0
Fasting_Blood_Sugar        0
ECG_Results                0
Exercise_Induced_Angina    0
Max_Heart_Rate_Achieved    0
Heart_Attack_Risk          0
dtype: int64

# Fixed bn filling qilish

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 20 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Age                      50000 non-null  int64
 1   Gender                   50000 non-null  object
 2   Smoking                  49997 non-null  float64
 3   Alcohol_Consumption      50000 non-null  int64
 4   Physical_Activity_Level  49997 non-null  object
 5   BMI                      50000 non-null  float64
 6   Diabetes                 50000 non-null  int64
 7   Hypertension             50000 non-null  int64
 8   Cholesterol_Level        49999 non-null  float64
 9   Resting_BP               50000 non-null  int64
 10  Heart_Rate               49996 non-null  float64
 11  Family_History           50000 non-null  int64
 12  Stress_Level             50000 non-null  object
 13  Chest_Pain_Type          50000 non-null  object
 14  Thalassemia              50000 non-null  object
 15  Fasting_Blood_Sugar      49998 non-null  float64
 16  ECG_Results              50000 non-null  object
 17  Exercise_Induced_Angina  49998 non-null  float64
 18  Max_Heart_Rate_Achieved  50000 non-null  int64
 19  Heart_Attack_Risk        50000 non-null  object
dtypes: float64(6), int64(7), object(7)
memory usage: 7.6+ MB

In [8]:
df.isnull().sum()

Age                        0
Gender                     0
Smoking                    3
Alcohol_Consumption        0
Physical_Activity_Level    3
BMI                        0
Diabetes                   0
Hypertension               0
Cholesterol_Level          1
Resting_BP                 0
Heart_Rate                 4
Family_History             0
Stress_Level               0
Chest_Pain_Type            0
Thalassemia                0
Fasting_Blood_Sugar        2
ECG_Results                0
Exercise_Induced_Angina    2
Max_Heart_Rate_Achieved    0
Heart_Attack_Risk          0
dtype: int64

In [9]:
df['Smoking'].fillna(2.4,inplace=True)

C:\Users\User\AppData\Local\Temp\ipykernel_5508\3025439755.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Smoking'].fillna(2.4,inplace=True)

In [10]:
tushib_qolganlar=df.columns[df.isnull().any()]   # belgilab olib keyin bitta coding bilan hammasini toldirish
df=df.dropna(subset=tushib_qolganlar)

In [11]:
df.isnull().sum()

Age                        0
Gender                     0
Smoking                    0
Alcohol_Consumption        0
Physical_Activity_Level    0
BMI                        0
Diabetes                   0
Hypertension               0
Cholesterol_Level          0
Resting_BP                 0
Heart_Rate                 0
Family_History             0
Stress_Level               0
Chest_Pain_Type            0
Thalassemia                0
Fasting_Blood_Sugar        0
ECG_Results                0
Exercise_Induced_Angina    0
Max_Heart_Rate_Achieved    0
Heart_Attack_Risk          0
dtype: int64

# Median

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 20 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Age                      50000 non-null  int64
 1   Gender                   50000 non-null  object
 2   Smoking                  49997 non-null  float64
 3   Alcohol_Consumption      50000 non-null  int64
 4   Physical_Activity_Level  49997 non-null  object
 5   BMI                      50000 non-null  float64
 6   Diabetes                 50000 non-null  int64
 7   Hypertension             50000 non-null  int64
 8   Cholesterol_Level        49999 non-null  float64
 9   Resting_BP               50000 non-null  int64
 10  Heart_Rate               49996 non-null  float64
 11  Family_History           50000 non-null  int64
 12  Stress_Level             50000 non-null  object
 13  Chest_Pain_Type          50000 non-null  object
 14  Thalassemia              50000 non-null  object
 15  Fasting_Blood_Sugar      49998 non-null  float64
 16  ECG_Results              50000 non-null  object
 17  Exercise_Induced_Angina  49998 non-null  float64
 18  Max_Heart_Rate_Achieved  50000 non-null  int64
 19  Heart_Attack_Risk        50000 non-null  object
dtypes: float64(6), int64(7), object(7)
memory usage: 7.6+ MB

In [27]:
df.isnull().sum()

Age                        0
Gender                     0
Smoking                    3
Alcohol_Consumption        0
Physical_Activity_Level    3
BMI                        0
Diabetes                   0
Hypertension               0
Cholesterol_Level          1
Resting_BP                 0
Heart_Rate                 4
Family_History             0
Stress_Level               0
Chest_Pain_Type            0
Thalassemia                0
Fasting_Blood_Sugar        2
ECG_Results                0
Exercise_Induced_Angina    2
Max_Heart_Rate_Achieved    0
Heart_Attack_Risk          0
dtype: int64

In [29]:
df['Smoking'].fillna(df['Smoking'].median(0),inplace=True)

C:\Users\User\AppData\Local\Temp\ipykernel_5508\1095657416.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Smoking'].fillna(df['Smoking'].median(0),inplace=True)

In [34]:
df['Cholesterol_Level'].fillna(df['Cholesterol_Level'].median(0),inplace=True)

C:\Users\User\AppData\Local\Temp\ipykernel_5508\1478932892.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Cholesterol_Level'].fillna(df['Cholesterol_Level'].median(0),inplace=True)

In [36]:
df['Heart_Rate'].fillna(df['Heart_Rate'].median(0),inplace=True)

C:\Users\User\AppData\Local\Temp\ipykernel_5508\2377384379.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Heart_Rate'].fillna(df['Heart_Rate'].median(0),inplace=True)

In [37]:
df['Fasting_Blood_Sugar'].fillna(df['Fasting_Blood_Sugar'].median(0),inplace=True)

C:\Users\User\AppData\Local\Temp\ipykernel_5508\1862802976.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Fasting_Blood_Sugar'].fillna(df['Fasting_Blood_Sugar'].median(0),inplace=True)

In [38]:
df['Exercise_Induced_Angina'].fillna(df['Exercise_Induced_Angina'].median(0),inplace=True)

C:\Users\User\AppData\Local\Temp\ipykernel_5508\3403657769.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Exercise_Induced_Angina'].fillna(df['Exercise_Induced_Angina'].median(0),inplace=True)

In [43]:
df['Physical_Activity_Level'].fillna(df['Physical_Activity_Level'].median(0),inplace=True)

TypeError: Cannot convert ['Moderate' 'Moderate' 'Moderate' ... 'High' 'Low' 'High'] to numeric

In [44]:
df.isnull().sum()

Age                        0
Gender                     0
Smoking                    0
Alcohol_Consumption        0
Physical_Activity_Level    3
BMI                        0
Diabetes                   0
Hypertension               0
Cholesterol_Level          0
Resting_BP                 0
Heart_Rate                 0
Family_History             0
Stress_Level               0
Chest_Pain_Type            0
Thalassemia                0
Fasting_Blood_Sugar        0
ECG_Results                0
Exercise_Induced_Angina    0
Max_Heart_Rate_Achieved    0
Heart_Attack_Risk          0
dtype: int64