# Importing Library

In [4]:
import pandas as pd
import numpy as np
import matplotlib as mlt
from sklearn.preprocessing import LabelEncoder,StandardScaler,MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression,LinearRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn .metrics import accuracy_score,mean_squared_error,r2_score

#  Data Set ni VS kodga o'rnatish

In [6]:
df=pd.read_csv('Indian_Kids_Screen_Time.csv.txt')

# Introducing with data

In [ ]:
df.info()  #data 6 column da inputlar va bitta columnda output ya"ni target feature predict qilishimiz kerak bolgan qiymat

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9712 entries, 0 to 9711
Data columns (total 8 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Age                                9712 non-null   int64
 1   Gender                             9712 non-null   object
 2   Avg_Daily_Screen_Time_hr           9712 non-null   float64
 3   Primary_Device                     9712 non-null   object
 4   Exceeded_Recommended_Limit         9712 non-null   bool
 5   Educational_to_Recreational_Ratio  9712 non-null   float64
 6   Health_Impacts                     6494 non-null   object
 7   Urban_or_Rural                     9712 non-null   object
dtypes: bool(1), float64(2), int64(1), object(4)
memory usage: 540.7+ KB

In [ ]:
df.head() #Demak outmputimiz 2 ta bu binary classification sinfiga kiradi Supervised Machine Learningning

,Age,Gender,Avg_Daily_Screen_Time_hr,Primary_Device,Exceeded_Recommended_Limit,Educational_to_Recreational_Ratio,Health_Impacts,Urban_or_Rural
0,14,Male,3.99,Smartphone,True,0.42,"Poor Sleep, Eye Strain",Urban
1,11,Female,4.61,Laptop,True,0.30,Poor Sleep,Urban
2,18,Female,3.73,TV,True,0.32,Poor Sleep,Urban
3,15,Female,1.21,Laptop,False,0.39,NaN,Urban
4,12,Female,5.89,Smartphone,True,0.49,"Poor Sleep, Anxiety",Urban

# Data preprocessing
#  Data Cleaning  or Missing Value

In [3]:
df.isnull().sum() #datasetimizda tushib qolgan qiymatlar faqat bitta ustunda berolgan ekan 2 ta usliu qollashimiz mumkin

Age                                     0
Gender                                  0
Avg_Daily_Screen_Time_hr                0
Primary_Device                          0
Exceeded_Recommended_Limit              0
Educational_to_Recreational_Ratio       0
Health_Impacts                       3218
Urban_or_Rural                          0
dtype: int64

# 1 usul  da  yani ustun bilan birga tashhlab yuborish mumkin lekin bunda juda kop datalar tushib qoladi va data occuracy juda yomon chiqadi 
df.dropna(axis=1,inplace=True)

# bu ustundagi datalarimiz hammasi string data type ya'ni datalarimiz hamasi object qiymatdaligi un mean emas mode bilad qollab ketamiz

In [6]:
df['Health_Impacts']

0                Poor Sleep, Eye Strain
1                            Poor Sleep
2                            Poor Sleep
3                                   NaN
4                   Poor Sleep, Anxiety
                     ...
9707                         Poor Sleep
9708                         Poor Sleep
9709    Poor Sleep, Eye Strain, Anxiety
9710                         Poor Sleep
9711                            Anxiety
Name: Health_Impacts, Length: 9712, dtype: object

In [ ]:
df['Health_Impacts'].fillna(df['Health_Impacts'].mode()[0],inplace=True) #ya'ni ustundagi eng ko'p qatnashgan qiymat bn hamma missing valuelarni filling qilib data setni toldirdik

In [ ]:
df.isnull().sum() # mana korib turganingizdek tushib qolgan qiymat endi data setda mavjud emas keyingi encoding bosqichga o'tsak boladi

Age                                  0
Gender                               0
Avg_Daily_Screen_Time_hr             0
Primary_Device                       0
Exceeded_Recommended_Limit           0
Educational_to_Recreational_Ratio    0
Health_Impacts                       0
Urban_or_Rural                       0
dtype: int64

# Encoding

In [ ]:
df.info() # Demak 3 ta object va 1 ta boolen data tpeli ustunlarimiz encoding qilishga muhtoj

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9712 entries, 0 to 9711
Data columns (total 8 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Age                                9712 non-null   int64
 1   Gender                             9712 non-null   object
 2   Avg_Daily_Screen_Time_hr           9712 non-null   float64
 3   Primary_Device                     9712 non-null   object
 4   Exceeded_Recommended_Limit         9712 non-null   bool
 5   Educational_to_Recreational_Ratio  9712 non-null   float64
 6   Health_Impacts                     9712 non-null   object
 7   Urban_or_Rural                     9712 non-null   object
dtypes: bool(1), float64(2), int64(1), object(4)
memory usage: 540.7+ KB

In [31]:
from sklearn.preprocessing import LabelEncoder  
for col in df_encoded.select_dtypes(include=['object']).columns:
    cardinality=df_encoded[col].nunique()
    if cardinality<=5:
        le=LabelEncoder()
        df_encoded[col]=le.fit_transform(df_encoded[col])
    else:
        df_encoded=pd.get_dummies(df_encoded,columns=[col],dtype=int, drop_first=True)
df=df_encoded

TypeError: unhashable type: 'Series'

#Masa'la qaysi encoding turini tanlaymiz 1 one-hot da data kopayib ketib qiyinlashib ketadi 2 label encoding da mantiq uncha mos emas frequency encodingdaadolatli hisoblaydi degan sabab bn

In [30]:
freq_encoding=df['Gender']
df['Gender']=df['Gender'].map(freq_encoding)

TypeError: unhashable type: 'Series'

In [29]:
freq_encoding=df['Gender'].value_counts

df['Gender']=df['Gender'].map(freq_encoding)

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9712 entries, 0 to 9711
Data columns (total 8 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Age                                9712 non-null   int64
 1   Gender                             9712 non-null   object
 2   Avg_Daily_Screen_Time_hr           9712 non-null   float64
 3   Primary_Device                     9712 non-null   object
 4   Exceeded_Recommended_Limit         9712 non-null   bool
 5   Educational_to_Recreational_Ratio  9712 non-null   float64
 6   Health_Impacts                     9712 non-null   object
 7   Urban_or_Rural                     9712 non-null   object
dtypes: bool(1), float64(2), int64(1), object(4)
memory usage: 540.7+ KB

# Scaling

In [14]:
standart=StandardScaler()

In [16]:
num_col=df.select_dtypes(include=['float64','int32']).columns.tolist()

In [17]:
#StandardScaler
df[num_col]=standart.fit_transform(df[num_col])

In [18]:
df.head()

,Age,Gender,Avg_Daily_Screen_Time_hr,Primary_Device,Exceeded_Recommended_Limit,Educational_to_Recreational_Ratio,Health_Impacts,Urban_or_Rural
0,14,Gender Male 0.508855 Female 0.491145 N...,-0.211179,Smartphone,True,-0.098694,"Poor Sleep, Eye Strain",Urban
1,11,Gender Male 0.508855 Female 0.491145 N...,0.149675,Laptop,True,-1.737647,Poor Sleep,Urban
2,18,Gender Male 0.508855 Female 0.491145 N...,-0.362506,TV,True,-1.464488,Poor Sleep,Urban
3,15,Gender Male 0.508855 Female 0.491145 N...,-1.829204,Laptop,False,-0.508432,Poor Sleep,Urban
4,12,Gender Male 0.508855 Female 0.491145 N...,0.894665,Smartphone,True,0.857362,"Poor Sleep, Anxiety",Urban

#ModelTraining

In [36]:
x=df.drop(columns=['Urban_or_Rural

SyntaxError: unterminated string literal (detected at line 1) (3186601617.py, line 1)

In [37]:
y=df['y=df['Obesity']

SyntaxError: unterminated string literal (detected at line 1) (2824315161.py, line 1)

In [38]:
x

NameError: name 'x' is not defined

In [39]:
y

NameError: name 'y' is not defined

In [40]:
x_test,x_val,y_test,y_val=train_test_split(x_temp,y_temp,test_size=0.5,random_state=42)

NameError: name 'x_temp' is not defined

In [41]:
x_train.shape  # 1477 ta train

NameError: name 'x_train' is not defined