# Funksiya

In [1]:
def jamla (a,b):
    return a+''+b

In [2]:
# Calls funksiyani chaqirish
jamla ('te','mur')

'temur'

In [4]:
def jamla(a,b):
    return a+'&'+b

In [5]:
# Calls
jamla('Tom','Jerry')

'Tom&Jerry'

In [7]:
 # ikki sonni bir birga qo'shish
def qosh(c,d):
    return c+d

In [8]:
qosh (3,4)

7

In [ ]:
for i in range(1,10):          # 1;10 intervaldagi sonlar
    print(i)

1
2
3
4
5
6
7
8
9

In [11]:
# List+ for+i
s=[1,2,3,4,5,6,7,8,9,10]
for i in s:
    print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
 # def + for+i
def bir_on(s):   # funksiyani yaratib oldik
    for i in s:
        if i%2==0:
            return i

In [ ]:
bir_on([1,2,3,4,5,6,7,8,9,10])

2

# Funksiya +Preprocessing

In [18]:
import pandas as pd
df=pd.read_csv('Obesity prediction.csv')

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2111 entries, 0 to 2110
Data columns (total 17 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Gender          2109 non-null   object
 1   Age             2110 non-null   float64
 2   Height          2110 non-null   float64
 3   Weight          2107 non-null   float64
 4   family_history  2108 non-null   object
 5   FAVC            2106 non-null   object
 6   FCVC            2106 non-null   float64
 7   NCP             2109 non-null   float64
 8   CAEC            2106 non-null   object
 9   SMOKE           2110 non-null   object
 10  CH2O            2107 non-null   float64
 11  SCC             2111 non-null   object
 12  FAF             2111 non-null   float64
 13  TUE             2111 non-null   float64
 14  CALC            2108 non-null   object
 15  MTRANS          2108 non-null   object
 16  Obesity         2111 non-null   object
dtypes: float64(8), object(9)
memory usage: 280.5+ KB

In [20]:
df.isnull().sum()

Gender            2
Age               1
Height            1
Weight            4
family_history    3
FAVC              5
FCVC              5
NCP               2
CAEC              5
SMOKE             1
CH2O              4
SCC               0
FAF               0
TUE               0
CALC              3
MTRANS            3
Obesity           0
dtype: int64

In [ ]:

for col in df.columns:                                                 # bu For Loop bilan Missing Valuelarni filling qilganimizda code
    if df[col].isnull().any():
        if df[col].dtype=='object':
            df[col].fillna(df[col].mode()[0],inplace=True)
        else:
          df[col].fillna(df[col].mean(),inplace=True)

In [27]:
df.isnull().sum()

Gender            0
Age               0
Height            0
Weight            0
family_history    0
FAVC              0
FCVC              0
NCP               0
CAEC              0
SMOKE             0
CH2O              0
SCC               0
FAF               0
TUE               0
CALC              0
MTRANS            0
Obesity           0
dtype: int64

# Funksiya+ preprocessing    
bunda restart berib boshqatdan Funksiya bn filling qilamiz missing valueni

In [33]:
def toldir(df):
    for col in df.columns:
        if df[col].isnull().any():
          if df[col].dtype=='object':
            df[col].fillna(df[col].mode()[0],inplace=True)
          else:
            df[col].fillna(df[col].mean(),inplace=True)
    return(df)

In [35]:
toldir(df)

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
0,Female,21.000000,1.620000,64.000000,yes,no,2.0,3.0,Sometimes,no,2.000000,no,0.000000,1.000000,no,Public_Transportation,Normal_Weight
1,Female,21.000000,1.520000,56.000000,yes,no,3.0,3.0,Sometimes,yes,3.000000,yes,3.000000,0.000000,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.000000,1.800000,77.000000,yes,no,2.0,3.0,Sometimes,no,2.000000,no,2.000000,1.000000,Frequently,Public_Transportation,Normal_Weight
3,Male,27.000000,1.800000,87.000000,no,no,3.0,3.0,Sometimes,no,2.000000,no,2.000000,0.000000,Frequently,Walking,Overweight_Level_I
4,Male,22.000000,1.780000,89.800000,no,no,2.0,1.0,Sometimes,no,2.000000,no,0.000000,0.000000,Sometimes,Public_Transportation,Overweight_Level_II
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2106,Female,20.976842,1.710730,131.408528,yes,yes,3.0,3.0,Sometimes,no,1.728139,no,1.676269,0.906247,Sometimes,Public_Transportation,Obesity_Type_III
2107,Female,21.982942,1.748584,133.742943,yes,yes,3.0,3.0,Sometimes,no,2.005130,no,1.341390,0.599270,Sometimes,Public_Transportation,Obesity_Type_III
2108,Female,22.524036,1.752206,133.689352,yes,yes,3.0,3.0,Sometimes,no,2.054193,no,1.414209,0.646288,Sometimes,Public_Transportation,Obesity_Type_III
2109,Female,24.361936,1.739450,133.346641,yes,yes,3.0,3.0,Sometimes,no,2.852339,no,1.139107,0.586035,Sometimes,Public_Transportation,Obesity_Type_III
2110,Female,23.664709,1.738836,133.472641,yes,yes,3.0,3.0,Sometimes,no,2.863513,no,1.026452,0.714137,Sometimes,Public_Transportation,Obesity_Type_III

In [36]:
df.isnull().sum()

Gender            0
Age               0
Height            0
Weight            0
family_history    0
FAVC              0
FCVC              0
NCP               0
CAEC              0
SMOKE             0
CH2O              0
SCC               0
FAF               0
TUE               0
CALC              0
MTRANS            0
Obesity           0
dtype: int64

# Funksiya +Encoding

In [37]:
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder,TargetEncoder,OneHotEncoder

In [40]:
df_encoded=df.copy()

In [71]:
def tahrir(df):
    for col in df_encoded.select_dtypes(include=['object']).columns:
       cardinality=df_encoded[col].nunique()
       if cardinality<=5:
           le=LabelEncoder()
           df_encoded[col]=le.fit_transform(df_encoded[col])
       else:
        df_encoded=pd.get_dummies(df_encoded,columns=[col],dtype=int, drop_first=True)
    return(df)
df=df_encoded

In [72]:
tahrir(df)

UnboundLocalError: cannot access local variable 'df_encoded' where it is not associated with a value

In [73]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2111 entries, 0 to 2110
Data columns (total 17 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Gender          2111 non-null   object
 1   Age             2111 non-null   float64
 2   Height          2111 non-null   float64
 3   Weight          2111 non-null   float64
 4   family_history  2111 non-null   object
 5   FAVC            2111 non-null   object
 6   FCVC            2111 non-null   float64
 7   NCP             2111 non-null   float64
 8   CAEC            2111 non-null   object
 9   SMOKE           2111 non-null   object
 10  CH2O            2111 non-null   float64
 11  SCC             2111 non-null   object
 12  FAF             2111 non-null   float64
 13  TUE             2111 non-null   float64
 14  CALC            2111 non-null   object
 15  MTRANS          2111 non-null   object
 16  Obesity         2111 non-null   object
dtypes: float64(8), object(9)
memory usage: 280.5+ KB

# Funksiya+Scaling

In [53]:
from sklearn.preprocessing import StandardScaler,MinMaxScaler

In [50]:
num_col=df.select_dtypes(include=['int64','float64']).columns

In [54]:
num_col

Index(['Age', 'Height', 'Weight', 'FCVC', 'NCP', 'CH2O', 'FAF', 'TUE'], dtype='object')

In [55]:
scaler=StandardScaler()

In [74]:
def taqriban(df):
    df[num_col]=scaler.fit_transform(df[num_col])
    return(df)

In [75]:
taqriban(df)

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
0,Female,-0.522007,-0.875916,-0.861853,yes,no,-0.783537,0.404567,Sometimes,no,-0.011961,no,-1.188039,0.561997,no,Public_Transportation,Normal_Weight
1,Female,-0.522007,-1.948004,-1.168113,yes,no,1.092463,0.404567,Sometimes,yes,1.621924,yes,2.339750,-1.080625,Sometimes,Public_Transportation,Normal_Weight
2,Male,-0.206766,1.053843,-0.364182,yes,no,-0.783537,0.404567,Sometimes,no,-0.011961,no,1.163820,0.561997,Frequently,Public_Transportation,Normal_Weight
3,Male,0.423715,1.053843,0.018643,no,no,1.092463,0.404567,Sometimes,no,-0.011961,no,1.163820,-1.080625,Frequently,Walking,Overweight_Level_I
4,Male,-0.364387,0.839425,0.125834,no,no,-0.783537,-2.166807,Sometimes,no,-0.011961,no,-1.188039,-1.080625,Sometimes,Public_Transportation,Overweight_Level_II
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2106,Female,-0.525657,0.096790,1.718709,yes,yes,1.092463,0.404567,Sometimes,no,-0.456150,no,0.783135,0.407996,Sometimes,Public_Transportation,Obesity_Type_III
2107,Female,-0.367075,0.502618,1.808076,yes,yes,1.092463,0.404567,Sometimes,no,-0.003579,no,0.389341,-0.096251,Sometimes,Public_Transportation,Obesity_Type_III
2108,Female,-0.281788,0.541449,1.806024,yes,yes,1.092463,0.404567,Sometimes,no,0.076585,no,0.474971,-0.019018,Sometimes,Public_Transportation,Obesity_Type_III
2109,Female,0.007902,0.404693,1.792905,yes,yes,1.092463,0.404567,Sometimes,no,1.380663,no,0.151471,-0.117991,Sometimes,Public_Transportation,Obesity_Type_III
2110,Female,-0.101995,0.398111,1.797728,yes,yes,1.092463,0.404567,Sometimes,no,1.398920,no,0.018996,0.092432,Sometimes,Public_Transportation,Obesity_Type_III

# Funksiya +Training

In [76]:
x=df.drop(columns=['Obesity'])

In [77]:
y=df['Obesity']

In [78]:
x

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS
0,Female,-0.522007,-0.875916,-0.861853,yes,no,-0.783537,0.404567,Sometimes,no,-0.011961,no,-1.188039,0.561997,no,Public_Transportation
1,Female,-0.522007,-1.948004,-1.168113,yes,no,1.092463,0.404567,Sometimes,yes,1.621924,yes,2.339750,-1.080625,Sometimes,Public_Transportation
2,Male,-0.206766,1.053843,-0.364182,yes,no,-0.783537,0.404567,Sometimes,no,-0.011961,no,1.163820,0.561997,Frequently,Public_Transportation
3,Male,0.423715,1.053843,0.018643,no,no,1.092463,0.404567,Sometimes,no,-0.011961,no,1.163820,-1.080625,Frequently,Walking
4,Male,-0.364387,0.839425,0.125834,no,no,-0.783537,-2.166807,Sometimes,no,-0.011961,no,-1.188039,-1.080625,Sometimes,Public_Transportation
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2106,Female,-0.525657,0.096790,1.718709,yes,yes,1.092463,0.404567,Sometimes,no,-0.456150,no,0.783135,0.407996,Sometimes,Public_Transportation
2107,Female,-0.367075,0.502618,1.808076,yes,yes,1.092463,0.404567,Sometimes,no,-0.003579,no,0.389341,-0.096251,Sometimes,Public_Transportation
2108,Female,-0.281788,0.541449,1.806024,yes,yes,1.092463,0.404567,Sometimes,no,0.076585,no,0.474971,-0.019018,Sometimes,Public_Transportation
2109,Female,0.007902,0.404693,1.792905,yes,yes,1.092463,0.404567,Sometimes,no,1.380663,no,0.151471,-0.117991,Sometimes,Public_Transportation
2110,Female,-0.101995,0.398111,1.797728,yes,yes,1.092463,0.404567,Sometimes,no,1.398920,no,0.018996,0.092432,Sometimes,Public_Transportation

In [79]:
y

0             Normal_Weight
1             Normal_Weight
2             Normal_Weight
3        Overweight_Level_I
4       Overweight_Level_II
               ...
2106       Obesity_Type_III
2107       Obesity_Type_III
2108       Obesity_Type_III
2109       Obesity_Type_III
2110       Obesity_Type_III
Name: Obesity, Length: 2111, dtype: object

# train va test vaildaitngga ajratib olamiz

In [84]:
def orgat(df):
    x_train,x_temp,y_train,y_temp=train_test_split(x,y,test_size=0.3,random_state=42)
   
    return(df)

In [85]:
orgat(df)

NameError: name 'train_test_split' is not defined

In [83]:
x_train.shape

NameError: name 'x_train' is not defined