In [5]:
import pandas as pd
df=pd.read_csv('Obesity prediction.csv')

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2111 entries, 0 to 2110
Data columns (total 17 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Gender          2109 non-null   object
 1   Age             2110 non-null   float64
 2   Height          2110 non-null   float64
 3   Weight          2107 non-null   float64
 4   family_history  2108 non-null   object
 5   FAVC            2106 non-null   object
 6   FCVC            2106 non-null   float64
 7   NCP             2109 non-null   float64
 8   CAEC            2106 non-null   object
 9   SMOKE           2110 non-null   object
 10  CH2O            2107 non-null   float64
 11  SCC             2111 non-null   object
 12  FAF             2111 non-null   float64
 13  TUE             2111 non-null   float64
 14  CALC            2108 non-null   object
 15  MTRANS          2108 non-null   object
 16  Obesity         2111 non-null   object
dtypes: float64(8), object(9)
memory usage: 280.5+ KB

In [4]:
from sklearn.metrics import confusion_matrix,classification_report

In [2]:
y_actual=[0,1,1,0,0,1,0,1,1,0]
y_predicted=[1,0,0,1,0,1,1,0,1,0]
cm=confusion_matrix(y_actual,y_predicted)

In [3]:
cm

array([[2, 3],
       [3, 2]])

In [8]:
clas_report=classification_report(y_actual,y_predicted)

In [9]:
print(clas_report)

              precision    recall  f1-score   support

           0       0.40      0.40      0.40         5
           1       0.40      0.40      0.40         5

    accuracy                           0.40        10
   macro avg       0.40      0.40      0.40        10
weighted avg       0.40      0.40      0.40        10

In [10]:
from sklearn.linear_model import LogisticRegression, LinearRegression

# Funksiya+Missing Value

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2111 entries, 0 to 2110
Data columns (total 17 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Gender          2109 non-null   object
 1   Age             2110 non-null   float64
 2   Height          2110 non-null   float64
 3   Weight          2107 non-null   float64
 4   family_history  2108 non-null   object
 5   FAVC            2106 non-null   object
 6   FCVC            2106 non-null   float64
 7   NCP             2109 non-null   float64
 8   CAEC            2106 non-null   object
 9   SMOKE           2110 non-null   object
 10  CH2O            2107 non-null   float64
 11  SCC             2111 non-null   object
 12  FAF             2111 non-null   float64
 13  TUE             2111 non-null   float64
 14  CALC            2108 non-null   object
 15  MTRANS          2108 non-null   object
 16  Obesity         2111 non-null   object
dtypes: float64(8), object(9)
memory usage: 280.5+ KB

In [19]:
def tozala(df):
    for col in df.columns:
        if df[col].isnull().any():
            if df[col].dtype=='object':
                df[col].fillna(df[col].mode()[0],inplace=True)
            else:
                df[col].fillna(df[col].mean(),inplace=True)
    return df

In [13]:
tozala(df)

C:\Users\User\AppData\Local\Temp\ipykernel_1860\2815223473.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].mode()[0],inplace=True)
C:\Users\User\AppData\Local\Temp\ipykernel_1860\2815223473.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].mean(),inplace=True)

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
0,Female,21.000000,1.620000,64.000000,yes,no,2.0,3.0,Sometimes,no,2.000000,no,0.000000,1.000000,no,Public_Transportation,Normal_Weight
1,Female,21.000000,1.520000,56.000000,yes,no,3.0,3.0,Sometimes,yes,3.000000,yes,3.000000,0.000000,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.000000,1.800000,77.000000,yes,no,2.0,3.0,Sometimes,no,2.000000,no,2.000000,1.000000,Frequently,Public_Transportation,Normal_Weight
3,Male,27.000000,1.800000,87.000000,no,no,3.0,3.0,Sometimes,no,2.000000,no,2.000000,0.000000,Frequently,Walking,Overweight_Level_I
4,Male,22.000000,1.780000,89.800000,no,no,2.0,1.0,Sometimes,no,2.000000,no,0.000000,0.000000,Sometimes,Public_Transportation,Overweight_Level_II
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2106,Female,20.976842,1.710730,131.408528,yes,yes,3.0,3.0,Sometimes,no,1.728139,no,1.676269,0.906247,Sometimes,Public_Transportation,Obesity_Type_III
2107,Female,21.982942,1.748584,133.742943,yes,yes,3.0,3.0,Sometimes,no,2.005130,no,1.341390,0.599270,Sometimes,Public_Transportation,Obesity_Type_III
2108,Female,22.524036,1.752206,133.689352,yes,yes,3.0,3.0,Sometimes,no,2.054193,no,1.414209,0.646288,Sometimes,Public_Transportation,Obesity_Type_III
2109,Female,24.361936,1.739450,133.346641,yes,yes,3.0,3.0,Sometimes,no,2.852339,no,1.139107,0.586035,Sometimes,Public_Transportation,Obesity_Type_III
2110,Female,23.664709,1.738836,133.472641,yes,yes,3.0,3.0,Sometimes,no,2.863513,no,1.026452,0.714137,Sometimes,Public_Transportation,Obesity_Type_III

In [22]:
df.isnull().sum()

Gender            0
Age               0
Height            0
Weight            0
family_history    0
FAVC              0
FCVC              0
NCP               0
CAEC              0
SMOKE             0
CH2O              0
SCC               0
FAF               0
TUE               0
CALC              0
MTRANS            0
Obesity           0
dtype: int64

# Funksiya +Encoding

In [23]:
from sklearn.preprocessing import LabelEncoder

In [24]:
encoder=LabelEncoder()

In [26]:
df.nunique()

Gender               2
Age               1403
Height            1575
Weight            1522
family_history       2
FAVC                 2
FCVC               811
NCP                636
CAEC                 4
SMOKE                2
CH2O              1266
SCC                  2
FAF               1190
TUE               1129
CALC                 4
MTRANS               5
Obesity              7
dtype: int64

In [ ]:
for col in df.columns:
        if df[col].dtype=='object':
            if df[col].nuniqe()<=10:
                dummies=pd.get_dummies(df[col],prefix=col,dtype=int)
                df=pd.concat([df.drop(columns=[col]),dummies],axis=1)
            else:
                df[col]=encoder.fit_transform(df[col])

AttributeError: 'Series' object has no attribute 'nuniqe'

In [30]:
def encodla(df):
    for col in df.columns:
        if df[col].dtype=='object':
            if df[col].nuniqe()<=6:
                dummies=pd.get_dummies(df[col],prefix=col,dtype=int)
                df=pd.concat([df.drop(columns=[col]),dummies],axis=1)
        else:
            df[col]=encoder.fit_transform(df[col])
    return df

In [32]:
df=encodla(df)

AttributeError: 'Series' object has no attribute 'nuniqe'

# Funksiya+Scaling

In [42]:
from sklearn.preprocessing import StandardScaler,MinMaxScaler

In [43]:
num_col=df.select_dtypes(include=['int64','float64']).columns

In [44]:
num_col

Index(['Age', 'Height', 'Weight', 'FCVC', 'NCP', 'CH2O', 'FAF', 'TUE'], dtype='object')

In [45]:
scaler=StandardScaler()

In [46]:
def taqriban(df):
    df[num_col]=scaler.fit_transform(df[num_col])
    return(df)

In [47]:
taqriban(df)

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
0,Female,-0.522007,-0.875916,-0.861853,yes,no,-0.783537,0.404567,Sometimes,no,-0.011961,no,-1.188039,0.561997,no,Public_Transportation,Normal_Weight
1,Female,-0.522007,-1.948004,-1.168113,yes,no,1.092463,0.404567,Sometimes,yes,1.621924,yes,2.339750,-1.080625,Sometimes,Public_Transportation,Normal_Weight
2,Male,-0.206766,1.053843,-0.364182,yes,no,-0.783537,0.404567,Sometimes,no,-0.011961,no,1.163820,0.561997,Frequently,Public_Transportation,Normal_Weight
3,Male,0.423715,1.053843,0.018643,no,no,1.092463,0.404567,Sometimes,no,-0.011961,no,1.163820,-1.080625,Frequently,Walking,Overweight_Level_I
4,Male,-0.364387,0.839425,0.125834,no,no,-0.783537,-2.166807,Sometimes,no,-0.011961,no,-1.188039,-1.080625,Sometimes,Public_Transportation,Overweight_Level_II
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2106,Female,-0.525657,0.096790,1.718709,yes,yes,1.092463,0.404567,Sometimes,no,-0.456150,no,0.783135,0.407996,Sometimes,Public_Transportation,Obesity_Type_III
2107,Female,-0.367075,0.502618,1.808076,yes,yes,1.092463,0.404567,Sometimes,no,-0.003579,no,0.389341,-0.096251,Sometimes,Public_Transportation,Obesity_Type_III
2108,Female,-0.281788,0.541449,1.806024,yes,yes,1.092463,0.404567,Sometimes,no,0.076585,no,0.474971,-0.019018,Sometimes,Public_Transportation,Obesity_Type_III
2109,Female,0.007902,0.404693,1.792905,yes,yes,1.092463,0.404567,Sometimes,no,1.380663,no,0.151471,-0.117991,Sometimes,Public_Transportation,Obesity_Type_III
2110,Female,-0.101995,0.398111,1.797728,yes,yes,1.092463,0.404567,Sometimes,no,1.398920,no,0.018996,0.092432,Sometimes,Public_Transportation,Obesity_Type_III

# Funksiya+ Train

In [33]:
x=df.drop('totalPrice',axis=1)

KeyError: "['totalPrice'] not found in axis"

In [34]:
y=df['Obesity']

In [35]:
from sklearn.model_selection import train_test_split

In [36]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

NameError: name 'x' is not defined

In [37]:
log_reg=LogisticRegression()

In [38]:
log_reg.fit(x_train,y_train)

NameError: name 'x_train' is not defined

In [39]:
y_pred=log_reg.predict(x_test)

NameError: name 'x_test' is not defined

In [40]:
class_report=classification_report(y_test,y_pred)

NameError: name 'y_test' is not defined

In [41]:
class_report

NameError: name 'class_report' is not defined